@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lugrasimo&family=Lumanosimo&display=swap');

  :root{
    --primary-color: #797575;
    --secondary-color: #f2f2f2;
    --tertiary-color: #d63d01;
    --quaternary-color: #f8d030;
    --white: #ffffff;
    --text-color: #1a1a1a;
    --header-color: #af0a7e;
    --next-btn-hover: #e916cd;
    --previous-btn-hover: #850eb4;
    --primary-color-2: #018f7000;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'EB Garamond', serif;
  }

  body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 17px;
    font-weight: bold;
    position: relative;
  }

  .reg{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1,5px;
    align-items: center;
    justify-content: center;
    margin-left: 28%;
    top: 10px;

  }

  .wrapper{
    width: 950px;
    max-width: 100%;
    background: var(--secondary-color);
    margin: 80px auto;
    padding: 50px;
    border-radius: 50px 8px;
  }

  .header{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header{
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .header h4{
    font-size: 18px;
    font-weight: bold;
    color: var(--header-color);
    text-transform: uppercase;
    letter-spacing: 1,5px;
  }

  .wrapper .header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

  .header ul li{
    position: relative;
    list-style: none;
    margin-right: 40px;
  } 

  .header ul li::last-child{
    margin-right: auto;
  }

  .header ul li::before{
    content: '';
    left: calc(50% + 25px);
    top: 50%;
    transform: translateY(-50%);
    width: 100px; 
    height: 2px;
    border-radius: 50%;
    background: var(--quaternary-color);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .header ul li:last-child::before{
    display: none;
  }

  .header ul li div{
    padding: 5px;
    border-radius: 45%;
  }

  .header ul li p{
    width: 45px;
    height: 45px;
    font-weight: bold;
    background: var(--tertiary-color);
    color: var(--text-color);
    border-radius: 45%;
    text-align: center;
    line-height: 45px;
    transform: translate(25%, 25%);
  }

   .header ul li .active::before,
   .header ul li .active p {
    background: var(--quaternary-color);
  }

  .data_info{
    margin-bottom: 35px;
  }

  .data_info h2{
    color: var(--header-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .data_info .input_wrap{
    width: 350px;
    max-width: 100%;
    margin: 0 auto 18px;
  }

  .data_info .input_wrap label{
    display: inline-block;
    margin-bottom: 4px;
  }

  .data_info .input_wrap input{
    width: 100%;
    height: 45px;
    border: 2px solid var(--quaternary-color);
    border-radius: 100px 25px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: bold;
    color: var(--header-color);
  }

  .data_info .input_wrap input:focus{
    border-color: var(--tertiary-color);
  }

  .form_2,
  .form_3 {
    display: none;
  }

  .common_btns{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
  }

  .form_1_btns{
    justify-content: center;
  }

  .data_info .common_btns button{
    width: 100px;
    padding: 8px 10px;
    border: none;
    background: var(--quaternary-color);
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .common_btns button.btn_back{
    background: #018f7000; 
  }

  .data_info .common_btns button.btn_next .icon{
    display: flex;
    margin-left: 10px;
  }

  .data_info .common_btns button.btn_back .icon{
    display: flex;
    margin-left: 10px;
  }

  .data_info .common_btns button.btn_next:hover,
  .data_info .common_btns button.btn_done:hover{
    background: var(--next-btn-hover);
  }

  .data_info .common_btns button.btn_back:hover{
    background: var(--previous-btn-hover);
  }
  
  .password_input_wrap {
    position: relative;
  }

  .password_input_wrap ion-icon.eye_icon {
    position: absolute;
    top: 30%;
    right: 25px;
    transform: translateY(-5%);
    cursor: pointer;
    pointer-events: auto;
  }

  .modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  
  .modal_wrapper .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    opacity: 0;
  }
  
  .modal_wrapper .success_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800px);
    background: var(--quaternary-color);
    padding: 55px 50px;
    border-radius: 60px 15px;
    display: flex;
    align-items: center;
    transition: 0.9s ease;
  }
  
  .modal_wrapper .success_wrap .modal_icon {
    margin-right: 30px;
    width: 50px;
    height: 50px;
    background: var(--tertiary-color);
    color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
  }

  .modal_wrapper.active {
    visibility: visible;
  }

  .modal_wrapper.active .shadow {
    opacity: 1;
  }
  
  .modal_wrapper.active .success_wrap {
    transform: translate(-50%, -50%);
  }
  